
 #the_canvas {
  background-image:
  linear-gradient(to right, #277ac7,#3fb1ce);
  position: absolute;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block; 
    border-radius: 30px;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);   
}

#the_canvas_rival, #the_canvas_stars_rival, #the_canvas_results_rival{
  position: absolute;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block; 
  border-radius: 30px;
  top: 60%;
  left: 68.5%;
  transform: translate(-50%, -50%);         
}

#the_canvas_results, #the_canvas_stars {
  background-color: transparent;
  position: absolute;
  padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block; 
    border-radius: 30px;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);      
}

#winMessage {
  font-size: 95px;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);  
}

a:link { 
  text-decoration: none;}

#buttons {
  display: flex;
  justify-content: center;
}

  


#rpstitle{
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  text-align: center;
   color: rgb(255, 255, 255);
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  text-align: center;
   color: rgb(255, 255, 255);
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
   color: white;
}


#playerScore, #enemyScore {
display: inline-block;
margin-left: 200px;
margin-right: 200px;
}



#scores
{
  text-align:center;
  position: relative;
  bottom: 170px;
}

#homepageElements {
  margin-top: 15%;
}

#play, #multiplay, #settings, #back,#nextRound, #retry, #home   {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: white;
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
  background-image:
  linear-gradient(to right, #5ba6ec,#3ec4e6);
  font-size: 25px;
  margin: 5px;
}


#play:hover, #multiplay:hover, #settings:hover, #back:hover, #nextRound:hover,#retry:hover, #home:hover  {
  padding-right: 15px;
  padding-left: 15px;
  background-image:
  linear-gradient(to right, #88c0f5,#72d0e7);
}

body {
  background-image:
  linear-gradient(to right, #3688d4,#3ec4e6);
  margin:0px; padding:0px; 
}

audio { display:none;}

#nextRound{
  position: relative;
  left: 30%;
  bottom: 110px;
}

#retry{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);  
}

#home {
  position: absolute;
  left: 50%;
  top: 62%;
  transform: translate(-50%, -50%); 
}


.overlay-win_state {
  background-color: rgba(42, 134, 255, 0.9);
}
