
#the_canvas {
    background-image:
    linear-gradient(to right, #f37ee9,#d55de0);
    position: absolute;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block; 
    border-radius: 30px;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);      
}


#the_canvas_rival{
    background-image:
    linear-gradient(to right, #97ee25, #97ee25,#4ec002);
}


#the_canvas_results, #the_canvas_stars, #canvas_stop{
    background-color: transparent;
    position: absolute;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block; 
    border-radius: 30px;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);        
}





#the_canvas_rival, #the_canvas_stars_rival, #the_canvas_results_rival{
    position: absolute;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block; 
    border-radius: 30px;
    top: 60%;
    left: 68.5%;
    transform: translate(-50%, -50%);         
}


h1 {
    font-family: 'Righteous', cursive;
    font-size: 80px;
    text-align: center;
     color: rgb(255, 255, 255);
     transition: 2s;
}

h2 {
    position: relative;  
    bottom: 50px;
    font-family: 'Righteous', cursive;
    font-size: 70px;
    text-align: center;
     -webkit-text-fill-color: white;
     -webkit-text-stroke-width: 1.4px;
     -webkit-text-stroke-color:#c52ad3;
     background: -webkit-linear-gradient(#eee,rgb(255, 242, 245),rgb(255, 219, 226),  #dca1ff);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}


h3 {
    font-weight: 3000;
    font-family: 'Righteous', cursive;
    font-size: 50px;
    text-align: center;
     -webkit-text-fill-color: white;
     -webkit-text-stroke-width: 1.4px;
     -webkit-text-stroke-color:#c52ad3;
     background: -webkit-linear-gradient(#eee,rgb(255, 242, 245),rgb(255, 219, 226),  #fea1ff);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

#enemyName {
    -webkit-text-fill-color: white;
     -webkit-text-stroke-width: 1.4px;
     -webkit-text-stroke-color:#679e00;
     background: -webkit-linear-gradient(#eee,rgb(242, 255, 252),rgb(160, 252, 107),  #8ad400);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}


#playerName{
    position: absolute;
    left: 25%;
    top: 10%;

}

#enemyName{
    position: absolute;
    left: 65%;
    top: 10%;

}

#winLoseDraw{
    font-size: 70px;
    position: absolute;
    left: 28%;
    top: 63%;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.4px;
    -webkit-text-stroke-color:#ab1cb8;
    background: -webkit-linear-gradient(#eee,rgb(255, 242, 245),rgb(255, 219, 226),  #fea1ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.overlay-win_state {
    background-color: rgba(145, 248, 27, 0.8);
}


#scores
{
    text-align:center;
    position: relative;
    bottom: 170px;
}

#rpstitle {
    text-shadow:
    -2px -2px 0 rgb(146, 13, 255),  
    2px -2px 0 rgb(255, 13, 255),
    -2px 2px 0 rgb(146, 13, 255),
     2px 2px 0 rgb(146, 13, 255),
    4px 4px 0 rgb(203, 255, 13),
     6px 6px 0 rgb(65, 255, 128),
     8px 8px 0 rgb(59, 232, 255),
      10px 10px 0 rgb(173, 86, 255);
    
}

a:link { 
    text-decoration: none;}

#buttons {
    display: flex;
    justify-content: center;
}

#homepageElements {
    margin-top: 15%;
}

#play, #multiplay, #settings, #back, #nextRound,#retry, #home   {
    border: 2px solid rgb(146, 13, 255);
    font-family: 'Righteous', cursive;
    color: white;
    border-radius: 40px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: blueviolet;
    font-size: 40px;
    margin: 5px;
    display: block;
    box-shadow: 
    inset 0 -4px 1px #42a4ff,
    inset 0 4px 1px #ee38ff;
    transition: 0.3s;
}


#winMessage {
    font-size: 95px;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);  
    -webkit-text-stroke-color:#c52ad3;
    background: -webkit-linear-gradient(#eee,rgb(255, 242, 245),rgb(255, 219, 226),  #fea1ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

#score {
    bottom: 5%;  
}

 #retry{
    position: absolute;
    padding:10px;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);  
}

#home {
    position: absolute;
    padding:10px;
    left: 50%;
    top: 67%;
    transform: translate(-50%, -50%); 
}

#retry, #home{
    background-color: #c52ad3;
       box-shadow: 
    inset 0 -4px 1px #42ff42,
    inset 0 4px 1px #6fdee6;
}

#nextRound, #back{
    background-color: rgb(220, 43, 226);
    box-shadow: 
    inset 0 -4px 1px #42ff42,
    inset 0 4px 1px #6fdee6;
}


#play:hover, #multiplay:hover, #settings:hover, #back:hover, #nextRound:hover,#retry:hover, #home:hover {
    background-color: #4af020; 
    padding-right: 15px;
    padding-left: 15px;
    color: rgb(0, 0, 0);
    box-shadow: 
    inset 0 -4px 1px #7afdfd,
    inset 0 4px 1px #deff4a;
    transition: 0.3s;
  }

  #play:focus, #multiplay:focus, #settings:focus, #back:focus, #nextRound:focus,#retry:focus, #home:focus {
    background-color: #46dbdb; 
    padding-right: 15px;
    padding-left: 15px;
    color: rgb(0, 0, 0);
    box-shadow: 
    inset 0 -4px 1px #a0ff88,
    inset 0 4px 1px #84ffd0;
  }

body {
    background-image:
    radial-gradient(#cefc04 25%, transparent 25%),
    radial-gradient(#17e9e0 25%, transparent 25%); 
background-color: #ffffff;
background-position: 0 0, 50px 50px;
background-size: 100px 100px;
transition: 2.5s;
}

#save {
    border: 2px solid rgb(146, 13, 255);
    font-family: 'Righteous', cursive;
    color: white;
    border-radius: 40px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: blueviolet;
    font-size: 40px;
    box-shadow: 
    inset 0 -4px 1px #42a4ff,
    inset 0 4px 1px #ee38ff;
}

  
#nextRound{
    position: absolute;
    left: 37%;
    top: 34%;
}

  @media only screen and (max-width: 500px) {
   
    #buttons {
        display: block;
        justify-content: center;
    }

    #play, #multiplay, #settings {
        left: 25%;
        align-items: center;
        display: block;
        font-size: 35px;
        padding: 3px;
    }
   
   
    body {
        justify-content: center;
        margin: 0%;
        padding: 0%;
        margin-left: 0%;
        margin-right: 0%;
    }

    #the_canvas,#the_canvas_results, #the_canvas_stars, #canvas_stop  {
        position: absolute;
       left: 50%;
       top: 37%;
       width: 90%; 
    }

    #the_canvas_rival, #the_canvas_stars_rival, #the_canvas_results_rival{
        position: absolute;
        left: 70%;
        top: 78%;
        width: 190px; 
    }

    h2 {
        font-size: 50px;
    }

    h1 {
        font-size: 60px; 
        word-break: break-all;
    }

    #rsptitle {
        font-size: 30px; 
    }
    #back {
        position: absolute;
        top: 60%;
    }


    #nextRound {
        position: absolute;
        padding: 8px;
        font-size: 25px;
        top: 18%;
        left: 43%;
    }

    #winMessage {
        font-size: 70px;
    }
    
    #score {
        position: absolute;
        font-size: 60px;
        top: 25%;  
        left: 39%;
    }
    
     #retry{
        position: absolute;
        font-size: 30px;
        top: 52%;
    }
    
    #home {
        position: absolute;
    }
    
    #enemyName {
        position: absolute;
        font-size: 40px;
        left: 3%;
        top: 80%; 
    }

    #playerName {
        position: absolute;
        font-size: 40px;
        left: 10%;
        top: 1%; 
    }

    #winLoseDraw{
    font-size: 59px;
    position: absolute;
    left: 15%;
    top: 36.5%;
}

#play, #multiplay, #settings, #back, #nextRound,#retry, #home   {
    border: 2px solid rgb(104, 39, 158);
    font-family: 'Righteous', cursive;
    color: white;
    background-color: rgb(135, 76, 190);
    box-shadow: 
    inset 0 -4px 1px #659fd4,
    inset 0 4px 1px #d86ce2;
    transition: 0.3s;
}


#the_canvas {
    background-image:
    linear-gradient(to right, #d86ce2,rgb(135, 76, 190)); 
}

#the_canvas_rival{
    background-image:
    linear-gradient(to right, #9dda4e, #9dda4e,#6cc530);
}

h3 {
     -webkit-text-fill-color: white;
     -webkit-text-stroke-width: 1.8px;
     -webkit-text-stroke-color:rgb(135, 76, 190);
     background: -webkit-linear-gradient(#eee,rgb(251, 219, 255),rgb(251, 219, 255),  #e1a1ff);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

h2 {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.8px;
    -webkit-text-stroke-color:rgb(135, 76, 190);
    background: -webkit-linear-gradient(#eee,rgb(251, 219, 255),rgb(251, 219, 255),  #e1a1ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#enemyName {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.8px;
    -webkit-text-stroke-color:#5aa02c;
    background: -webkit-linear-gradient(#eee,#d1f1bb,#d1f1bb,  #a7e47e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    background-image:
    radial-gradient(#e2f76b 25%, transparent 25%),
    radial-gradient(#6debd6 25%, transparent 25%); 
background-color: #ffffff;
background-position: 0 0, 50px 50px;
background-size: 100px 100px;
transition: 2.5s;
}

#winLoseDraw{
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.4px;
    -webkit-text-stroke-color:#63168f;
    background: -webkit-linear-gradient(#eee,rgb(247, 219, 255),rgb(247, 219, 255),  #d69df7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


}  