
#the_canvas {
    background-image:
    linear-gradient(to right, #b6358b, #ee71c8,#ee71c8);
    position: absolute;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block; 
    border-radius: 30px;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);         
}

#the_canvas_rival, #the_canvas_stars_rival, #the_canvas_results_rival, #canvas_stop{
    position: absolute;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block; 
    border-radius: 30px;
    top: 60%;
    left: 68.5%;
    transform: translate(-50%, -50%);         
}

#the_canvas_rival{
    background-image:
    linear-gradient(to right, #37a0e6, #37a0e6,#376ee6);
}


#the_canvas_results, #the_canvas_stars, #canvas_stop {
    background-color: transparent;
    position: absolute;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block; 
    border-radius: 30px;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);        
}


audio { display:none;}

@media only screen and (min-width: 500px) {
h1 {
    font-weight: 3000;
    font-family: 'Fredoka One', cursive;
    font-size: 90px;
    text-align: center;
     -webkit-text-fill-color: white;
     -webkit-text-stroke-width: 1.4px;
     -webkit-text-stroke-color:#ff42c6;
     background: -webkit-linear-gradient(#eee,rgb(255, 242, 245),rgb(255, 219, 226),  #fea1ff);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     transition: 2s;

}

#winMessage {
    font-size: 95px;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);  
}

h2 {
    position: relative;  
    bottom: 50px;
    font-weight: 3000;
    font-family: 'Fredoka One', cursive;
    font-size: 70px;
    text-align: center;
     -webkit-text-fill-color: white;
     -webkit-text-stroke-width: 1.4px;
     -webkit-text-stroke-color:#ff42c6;
     background: -webkit-linear-gradient(#eee,rgb(255, 242, 245),rgb(255, 219, 226),  #fea1ff);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

h3 {
    font-weight: 3000;
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
    text-align: center;
     -webkit-text-fill-color: white;
     -webkit-text-stroke-width: 1.4px;
     -webkit-text-stroke-color:#ff42c6;
     background: -webkit-linear-gradient(#eee,rgb(255, 242, 245),rgb(255, 219, 226),  #fea1ff);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

#enemyName {
    -webkit-text-fill-color: white;
     -webkit-text-stroke-width: 1.4px;
     -webkit-text-stroke-color:#1576e6;
     background: -webkit-linear-gradient(#eee,rgb(242, 251, 255),rgb(191, 237, 245),  #a1cdff);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

#playerName{
    position: absolute;
    left: 25%;
    top: 10%;

}

#enemyName{
    position: absolute;
    left: 65%;
    top: 10%;

}

#winLoseDraw{
    font-size: 70px;
    position: absolute;
    left: 28%;
    top: 63%;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.4px;
    -webkit-text-stroke-color:#c4158f;
    background: -webkit-linear-gradient(#eee,rgb(255, 242, 245),rgb(255, 219, 226),  #fea1ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
}


#scores
{
    text-align:center;
    position: relative;
    bottom: 170px;
}

    

a:link { 
    text-decoration: none;}

#buttons {
    display: flex;
    justify-content: center;
}

#homepageElements {
    margin-top: 15%;
    transition: 0.6s;
}

#play, #multiplay, #settings, #back,#nextRound, #retry, #home {
    font-family: 'Fredoka One', cursive;
    color: white;
    border: 2px solid #ee2db4;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(255, 73, 225);
    font-size: 40px;
    margin: 5px;
    margin-top: -30px;
    display: block;
    box-shadow: 
    inset 0 -4px 1px #ff81e4,
    inset 0 4px 1px #34c5ff;
    transition: 0.3s;
}



#play:hover, #multiplay:hover, #settings:hover,#back:hover,#nextRound:hover,#retry:hover, #home:hover {
    background-color: #bcdffd; 
    padding-right: 15px;
    padding-left: 15px;
    color: #ee2db4;
    box-shadow: 
    inset 0 -4px 1px #7afdfd,
    inset 0 4px 1px #ff71db;
    transition: 0.3s;
  }

  #play:focus, #multiplay:focus, #settings:focus, #back:focus, #nextRound:focus, #retry:focus, #home:focus {
    background-color: #46dbdb; 
    padding-right: 15px;
    padding-left: 15px;
    color: #ee2db4;
    box-shadow: 
    inset 0 -4px 1px #80ffff,
    inset 0 4px 1px #ff84ef;
  }

  
#nextRound{
    position: absolute;
    left: 37%;
    top: 40%;
}

body {
    background-image:
    radial-gradient(#bcdffd 25%, transparent 25%),
    radial-gradient(#f7bff8 25%, transparent 25%);
    background-color: #ffffff;
    background-position: 0 0, 50px 50px;
    background-size: 100px 100px;
    transition: 2.5s;
}

#score {
    position: absolute;
    left: 47%;
    top: 28%;  
  }
  
  
  #retry{
    position: absolute;
    left: 50%;
    top: 58%;
    transform: translate(-50%, -50%);  
  }
  
  #home {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%); 
  }
  


.overlay-win_state {
    background-color: rgba(152, 195, 252, 0.8);
}


@media only screen and (max-width: 700px) {
   
    #buttons {
        display: block;
    }

    #play, #multiplay, #settings {
        left: 25%;
        align-items: center;
        display: block;
        font-size: 35px;
        margin-bottom: 38px;
    }
   
   
    body {
        margin: 0%;
        padding: 0%;
        margin-left: 0%;
        margin-right: 0%;
    }

    #the_canvas,#the_canvas_results, #the_canvas_stars, #canvas_stop {
        position: absolute;
       left: 50%;
       top: 37%;
       width: 90%; 
    }

    #the_canvas_rival, #the_canvas_stars_rival, #the_canvas_results_rival{
        position: absolute;
        left: 68%;
        top: 80%;
        width: 190px; 
    }

    h2 {
        font-size: 50px;
    }

    h1, h2, h3, #enemyName, #playerName  {
        font-size: 60px; 
        word-break: break-all;
        font-weight: 3000;
        font-family: 'Fredoka One', cursive;
        color: white;
        text-shadow: 0 0 6px #d816be;
        text-align: center;
        transition: 0.6s;
    }

    #enemyName {
        text-shadow: 0 0 6px #1e50da;
    }
    #rsptitle {
        font-size: 30px; 
    }

    #back {
        position: absolute;
        top: 70%;
    }


    #nextRound {
        position: absolute;
        font-size: 25px;
        top: 23%;
        left: 43%;
    }

    h2 {
        position: absolute;
        font-size: 50px;
        top: -7.5%;
        left: 25%;    
    }

    #winMessage {
        position: absolute;
        left: 6%;
        top: 10%;
        font-size: 70px;
    }
    
    #score {
        position: absolute;
        font-size: 60px;
        top: 25%;  
        left: 39%;
    }
    
     #retry{
        position: absolute;
        font-size: 30px;
        top: 57%;
    }
    
    #home {
        position: absolute;
    }
    
    #enemyName {
        position: absolute;
        font-size: 40px;
        left: 2%;
        top: 80%; 
    }

    #playerName {
        position: absolute;
        font-size: 40px;
        left: 10%;
        top: 1%; 
    }

    #winLoseDraw{
        font-size: 59px;
        position: absolute;
        left: 12%;
        top: 36.5%;
    }

    #play, #multiplay, #settings, #back,#nextRound, #retry, #home {
        border: 2px solid #dd41c3;
        background-color: rgb(243, 93, 218);
        box-shadow: 
        inset 0 -4px 1px #fda1e9,
        inset 0 4px 1px #9fdff8;
    }

}