
#the_canvas {
    background-image:
    linear-gradient(to right, #b6358b, #ee71c8,#ee71c8);
    position: absolute;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block; 
    border-radius: 30px;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);         
}

#the_canvas_rival, #the_canvas_stars_rival, #the_canvas_results_rival, #canvas_stop{
    position: absolute;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block; 
    border-radius: 30px;
    top: 60%;
    left: 68.5%;
    transform: translate(-50%, -50%);         
}

#the_canvas_rival{
    background-image:
    linear-gradient(to right, #37a0e6, #37a0e6,#376ee6);
}


#the_canvas_results, #the_canvas_stars, #canvas_stop {
    background-color: transparent;
    position: absolute;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block; 
    border-radius: 30px;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);        
}


audio { display:none;}

h1 {
    font-weight: 3000;
    font-family: 'Fredoka One', cursive;
    font-size: 90px;
    text-align: center;
     -webkit-text-fill-color: white;
     -webkit-text-stroke-width: 1.4px;
     -webkit-text-stroke-color:#ff42c6;
     background: -webkit-linear-gradient(#eee,rgb(255, 242, 245),rgb(255, 219, 226),  #fea1ff);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     transition: 2s;
}

#winMessage {
    font-size: 95px;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);  
}

h2 {
    position: relative;  
    bottom: 50px;
    font-weight: 3000;
    font-family: 'Fredoka One', cursive;
    font-size: 70px;
    text-align: center;
     -webkit-text-fill-color: white;
     -webkit-text-stroke-width: 1.4px;
     -webkit-text-stroke-color:#ff42c6;
     background: -webkit-linear-gradient(#eee,rgb(255, 242, 245),rgb(255, 219, 226),  #fea1ff);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

h3 {
    font-weight: 3000;
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
    text-align: center;
     -webkit-text-fill-color: white;
     -webkit-text-stroke-width: 1.4px;
     -webkit-text-stroke-color:#ff42c6;
     background: -webkit-linear-gradient(#eee,rgb(255, 242, 245),rgb(255, 219, 226),  #fea1ff);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

#enemyName {
    -webkit-text-fill-color: white;
     -webkit-text-stroke-width: 1.4px;
     -webkit-text-stroke-color:#1576e6;
     background: -webkit-linear-gradient(#eee,rgb(242, 251, 255),rgb(191, 237, 245),  #a1cdff);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

#playerScore, #enemyScore {
display: inline-block;
margin-left: 200px;
margin-right: 200px;
}

#scores
{
    text-align:center;
    position: relative;
    bottom: 170px;
}

@media only screen and (max-width: 500px) {
    #scores
    {
        font-size: 60px;
        top: 8%;  
        right: 200%;
    }
}

a:link { 
    text-decoration: none;}

#buttons {
    display: flex;
    justify-content: center;
}

#homepageElements {
    margin-top: 15%;
    transition: 0.6s;
}

#play, #multiplay, #settings, #back,#nextRound, #retry, #home {
    font-family: 'Fredoka One', cursive;
    color: white;
    border: 2px solid #ee2db4;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(255, 73, 225);
    font-size: 40px;
    margin: 5px;
    margin-top: -30px;
    display: block;
    box-shadow: 
    inset 0 -4px 1px #ff81e4,
    inset 0 4px 1px #34c5ff;
    transition: 0.3s;
}



#play:hover, #multiplay:hover, #settings:hover,#back:hover,#nextRound:hover,#retry:hover, #home:hover {
    background-color: #bcdffd; 
    padding-right: 15px;
    padding-left: 15px;
    color: #ee2db4;
    box-shadow: 
    inset 0 -4px 1px #7afdfd,
    inset 0 4px 1px #ff71db;
    transition: 0.3s;
  }

  #play:focus, #multiplay:focus, #settings:focus, #back:focus, #nextRound:focus, #retry:focus, #home:focus {
    background-color: #46dbdb; 
    padding-right: 15px;
    padding-left: 15px;
    color: #ee2db4;
    box-shadow: 
    inset 0 -4px 1px #80ffff,
    inset 0 4px 1px #ff84ef;
  }

  
#nextRound{
    position: relative;
    left: 37%;
    bottom: 150px;
}

body {
    background-image:
    radial-gradient(#bcdffd 25%, transparent 25%),
    radial-gradient(#f7bff8 25%, transparent 25%);
    background-color: #ffffff;
    background-position: 0 0, 50px 50px;
    background-size: 100px 100px;
    transition: 2.5s;
}

#score {
    position: absolute;
    left: 47%;
    top: 28%;  
  }
  
  
  #retry{
    position: absolute;
    left: 50%;
    top: 58%;
    transform: translate(-50%, -50%);  
  }
  
  #home {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%); 
  }
  


.overlay-win_state {
    background-color: rgba(152, 195, 252, 0.8);
}
