@media only screen and (max-width: 500px) {
   
    body {
        margin: 0%;
        padding: 0%;
    }

    #the_canvas,#the_canvas_results, #the_canvas_stars {
       left: 78%;
       width: 400px; 
    }

    #the_canvas_rival, #the_canvas_stars_rival, #the_canvas_results_rival{
        top: 130%;
        width: 300px; 
    }

    h2 {

        left: 26%;        
    }
}
