@media only screen and (max-width: 500px) {
   
    
    body {
        margin: 0%;
        padding: 0%;
        margin-left: 0%;
        margin-right: 0%;
    }

    #the_canvas,#the_canvas_results, #the_canvas_stars {
       left: 50%;
       top: 290px;
       width: 90%; 
    }

    #the_canvas_rival, #the_canvas_stars_rival, #the_canvas_results_rival{
        left: 70%;
        top: 80%;
        width: 190px; 
    }

    h2 {
        font-size: 50px;
    }

    #back {
        position: relative;
        top: 50%;
    }

}
