@media only screen and (max-width: 500px) {
   
    #buttons {
        display: block;
        justify-content: center;
    }

    #play, #multiplay, #settings {
        display: block;
        font-size: 13px;
        padding: 3px;
    }
   
   
    body {
        margin: 0%;
        padding: 0%;
        margin-left: 0%;
        margin-right: 0%;
    }

    #the_canvas,#the_canvas_results, #the_canvas_stars {
        position: absolute;
       left: 50%;
       top: 37%;
       width: 90%; 
    }

    #the_canvas_rival, #the_canvas_stars_rival, #the_canvas_results_rival{
        position: absolute;
        left: 70%;
        top: 78%;
        width: 190px; 
    }

    h2 {
        font-size: 50px;
    }

    h1 {
        font-size: 30px; 
        word-break: break-all;
    }

    #rsptitle {
        font-size: 30px; 
    }

    #back {
        position: relative;
        top: 50%;
    }


    #nextRound {
        font-size: 23px;
        top: -440px;
        left: 150px;
    }

    #winMessage {
        position: absolute;
        font-size: 70px;
        left: 33%;
        top: 38.5%;
    }
    
    #score {
        position: absolute;
        font-size: 60px;
        top: 24%;  
        left: 26%;
    }
    
     #retry{
        position: absolute;
        padding:10px;
        left: 33%;
        top: 40%;
        transform: translate(-50%, -50%);  
    }
    
    #home {
        position: absolute;
        padding:10px;
        left: 33%;
        top: 48%;
        transform: translate(-50%, -50%); 
    }
    

}
